.PostEditor {
  width: 500px;
  height: auto;
  float: left;
  background-color: white;
  white-space: pre-wrap;
  word-wrap: break-word;
  border: none;
}

.PostEditor__title {
  padding-bottom: 5px;
  font-size: 20px;
  font-weight: 600;
  width: 300px;
  resize: none;
  margin: 0;
  border: none;
  &:focus {
    outline: 0;
  }
}

.PostEditor__image {
  border-radius: 0;
}

.card-body {
  position: relative;
  padding: 10px;
}

.PostEditor__text {
  margin: 0;
  padding: 0;
  width: 100%;
  resize: none;
  border: none;
  &:focus {
    outline: 0;
  }
}

.card {
  border-radius: 0;
  margin: 0;
}

.PostEditor__footer {
  padding-right: 10px;
  padding-bottom: 10px;
}

.modal-header {
  height: 50px;
  padding: 10px 15px 10px 15px;
  background-color: #1da1f2;
  border: 0;
  color: white;
}

.modal-content {
  width: 500px;
  padding: 0;
  border: 0;
  margin: 0;
}

.modal-body {
  padding: 0;
  margin: 0;
  height: auto;
}

.modal-footer {
  padding: 10px;
  margin: 0;
}

.close {
  color: white;
  opacity: 1;
  text-shadow: none;
}